<%- include("partials/header"); -%>

<button id = "case_logs" class="btn btn-dark"> Show Case Logs</button>

<a href="/chat" class="btn btn-dark"> Chat With Client</button>

<%- include("partials/footer"); -%>