<%- include("partials/header"); -%>

<div class="container payment-container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br>
        <h2 class="failure">Unsuccessful!</h2>
        <a href="/payment" class="btn btn-danger"> Try Again! </a>
        <br><br>
        <a href="/chat" class="btn btn-success"> Go back to Chat </a>
        </div>
        
	</div>
</div>
<%- include("partials/footer"); -%>