<%- include("partials/header"); -%>
<ul class="messages"></ul>
<form class="form">
    <input type="text" class="input" autocomplete="off" autofocus />
    <button type="submit">Send</button>
</form>
<%- include("partials/footer"); -%>