<%- include("partials/header"); -%>

<div class="container payment-container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br>
        <h2 class="success">Success!</h2>
        <p>Process Successful</p>
        <p>Go back to Chat</p>
        <br><br>
        <a href="/chat" class="btn btn-success"> Chat Page </a>
        </div>
        
	</div>
</div>

<%- include("partials/footer"); -%>